@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body::-webkit-scrollbar {
    width: 0em;
}

body {
    background-color: #061719 !important;
}

section {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}
  
section.active {
    opacity: 1;
    height: auto;
    overflow: visible;
}

#fullstack {
    color: #28cfe2;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grey-text-medium {
    font-family: 'Poppins';
    font-size: 1.8rem;
    color: #ffffff
}

.grey-text-small {
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: #ffffff
}

.big-text {
    font-size: 4rem;
    color: #ffffff
}

.container-main {
    margin-top: 8rem;
}

.navbar-brand {
    display: none;
}

.navbar-nav {
    list-style: none;
}

.navbar-nav li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar-nav a::after{
    content: "";
    background-color: #3ed4e5;
    height: 3px;
    width: 0;
    margin: auto;
    display: block;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.navbar-nav a:hover::after,
.navbar-nav a.current::after {
    width: 100%;
    transition: width 0.2s linear;
}

.navbar-nav a {
    color: #ffffff !important;
    font-size: 1.2rem;
}

.button-round {
    margin-top: 2rem;
    width: 9rem;
    background-color: #3ed4e5 !important;
    transition-duration: 0.8s;
}

.button-round:hover {
    color: white !important;
}

.fa-github {
    position: absolute;
    margin-left: 1rem;
    margin-top: 3.2rem; 
    color: #ffffff
}

.fa-linkedin {
    position: absolute;
    margin-left: 3.2rem;
    margin-top: 3.2rem; 
    color: #ffffff
}

a {
    color: inherit;
    cursor: pointer;
}

.badge {
    background-color: #3ed4e5;
}

.a-round {
    background-color: #3ed4e5 !important;
    border: none !important;
    height: 2.3rem;
    color: black !important; 
    width: 16rem !important;
}

.a-round:hover {
    color: white !important;
}

.container-main {
    position: relative;
}

.img-main {
    width: 45%;
    float: right;
    clear: both;
    margin-top: -25rem;
    max-width: 100%;
}

.container-certifications {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.list-group-item {
    background-color: transparent !important;
    color: white !important;
    width: 90vh;
    transition: 0.3s ease !important;
}

.list-group-item:hover {
    background-color: #3ed4e5 !important;
    color: black !important;
    border-color: #3ed4e5 !important;
}

.container-about {
   margin-top: 8rem;
}

.container-certifications {
    align-items: center !important;
    margin-top: 5rem;
}

.language-icon {
    margin-top: 1rem;
    width: 7vh;
    margin-right: 2rem;
    transition-duration: 0.4s;
}

.language-icon:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container-projects {
    margin-top: 5rem;
}

.card {
    margin-top: 1rem;
    transition-duration: 0.5s;
    color: white !important;
    background-color: #172f31 !important;
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#aboutText {
    font-family: 'Roboto', sans-serif;
}

#chevronDown {
    margin-left: 39.2rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}
   
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #073136;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
    
}
   
.btn:hover::before {
    transform: translateX(0); 
}

.list-group {
    margin-top: 1rem;
    display: flex;
    align-items: center !important;
}

@media(max-width: 768px) {
    .navbar-collapse {
        display: unset;
        flex-direction: unset;
        justify-content: unset !important;
    }

    .grey-text-medium {
        font-size: 1.2rem;
    }
    
    .grey-text-small {
        font-size: 1.4rem;
    }
    
    .big-text {
        font-size: 3rem;
    }

    .container-main {
        margin-top: 5rem;
    }

    .container-about {
        margin-top: 8rem;
    }

    .img-main {
        display: none;
    }

    .language-icon {
        width: 10%;
    }

    .container-projects {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    #chevronDown {
        margin-left: 10rem;
    }

    .list-group-item {
        width: 90vw;
    }

    .navbar-nav li{
        display: flex;
        justify-content: center;
        padding: 0px 0px;
    }

    .navbar-nav a {
        font-size: 1.2rem;
    }
}