@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.grey-text-medium {
    font-family: 'Poppins';
    font-size: 1.8rem;
    color: rgb(105, 105, 105);
}

.grey-text-small {
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: rgb(105, 105, 105);
}

.big-text {
    font-size: 4rem;
    color: rgb(59, 59, 59);
}

.container-main {
    margin-top: 8rem;
}

.button-round {
    margin-top: 2rem;
    border-radius: 2rem !important;
    width: 9rem;
    background-color: transparent;
    border: .1rem solid rgb(0, 0, 0) !important;
    transition-duration: 0.8s;
}

.button-round:hover {
    color: white !important;
}

.fa-github {
    position: absolute;
    margin-left: 1rem !important;
    margin-top: 3.2rem !important; 
}

.fa-linkedin {
    position: absolute;
    margin-left: 3.2rem !important;
    margin-top: 3.2rem !important; 
}

a {
    color: inherit !important;
    cursor: pointer;
}

.a-round {
    border: .1rem solid rgb(0, 0, 0) !important;
    background-color: white !important;
    height: 2.3rem;
    color: black !important; 
    border-radius: 2rem !important;
    width: 15rem !important;
}

.a-round:hover {
    background-color: #000000 !important;
    color: white !important;
}

.container-main {
    position: relative;
}

.img-main {
    width: 50%;
    float: right;
    clear: both;
    margin-right: -5rem !important;
    margin-top: -25rem;
    max-width: 100%;
}

.container-about {
    margin-top: 15rem;
}

.language-icon {
    margin-top: 1rem;
    width: 7vh;
    margin-right: 2rem;
    transition-duration: 0.4s;
}

.language-icon:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container-projects {
    margin-top: 5rem;
}

.card {
    transition-duration: 0.5s;
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#aboutText {
    font-family: 'Roboto', sans-serif !important;
}

#chevronDown {
    margin-left: 39.2rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}
   
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
    
}
   
.btn:hover::before {
    transform: translateX(0); 
}

@media(max-width: 768px) {
    .grey-text-medium {
        font-size: 1.2rem;
    }
    
    .grey-text-small {
        font-size: 1.4rem;
    }
    
    .big-text {
        font-size: 3rem;
    }

    .container-main {
        margin-top: 5rem;
    }

    .container-about {
        margin-top: 8rem;
    }

    .img-main {
        display: none;
    }

    .language-icon {
        width: 10%;
    }

    .container-projects {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    #chevronDown {
        margin-left: 10rem;
    }
}